@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin:0;
    padding:0;
    font-family:"Inria Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    color:rgb(81, 81, 81)

}


.nav{
    display: flex;
margin:0px 20px 0px 800px;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding:12px;
}

.nav ul li i{
    padding:6px 6px;
}

.nav button{
    padding:4px 8px;
    border:none;
    border-radius: 8px;
}

.btn-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:80px;
}

.btn-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
  }


.nav .hr-profile{
    display:flex;
   
    
   
}
 #hr{
    display: flex;
    margin:6px;
    font-size: 14px;
    
 }

 #hr i{
    padding: 4px;
 } 




 /* side nav bar */

 .side-nav {
   
    align-items: center;
    margin: -58px 0px;
    background-color: rgb(244, 244, 244);
    width:250px;
    overflow:hidden;
    
}


 header{
    display:flex;
    align-items: center; 
    justify-content: center;
    padding: 32px 12px 0px 0px  ;

 }



.menu-bar ul{
    padding:0px 20px;
}
.main-item{
    display: flex;
   
    justify-content: center;
    gap: 40px;
    padding:0px;
}

.first-item a{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:12px;
}

.sec-item a{
    display: flex;
    align-items: center;
    
}






  .menu-bar ul li i{
    font-size:16px;
    color:rgb(103, 103, 103);
 }


 .menu-bar ul li{
    display:flex;
    align-items: center;
    font-size:14px;
    gap:12px;
    margin:8px 0px 24px 6px;
    padding:6px;
      
 } 



 /* other body contents */
section{
    display:flex;
    justify-content: flex-start;
   margin:0px 400px;
}

.sec-1{

}