
    *{
    margin:0;
    padding:0;
    font-family:"Inria Sans", sans-serif;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: blur(2px);
   
    
}







.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    margin:0px 0px;
    color: #003C7D;
    font-size:20px;
}
.image1{
    width: 54px;
    height: 40px;
    margin:20px 0px;
}

section{
    display: flex;
    justify-content: center;
    width:50%;
    margin:2.5px 400px;
   
}

form{
 

  padding:32px 20px;
  background-color: #f1f1f1;
  border-radius: 12px;
  width:54%;
  
 
}

.top-text{
    margin:0px 60px;
}

.top-text h2 {
    margin:10px 100px;
    color:#BB882B;
}

.top-text p{
    margin:14px 20px 30px 40px;
    color:#6977AA;

}


 .main-form  {
    color:#6977AA;
    padding:0px;
 }


 .main-form label{
    font-size: 16px;
 }

  .names {
    width:94%;
   margin:8px 0px;
    padding:12px;
    color:#6977AA;
    border:1px solid #6977AA;
    border-radius:8px;
    font-size:12px;
    
 }

 .main-form i{
    margin:0px 0px 0px 380px;
    transform: translateY(-230%);
    
 }
 


 

.down-text{
    display: flex;
    justify-content: space-between;
    width:100%;
    color:#6977AA;
  
}



 .login{
    width:100%;
    margin:12px 0px;
    padding:12px;
    border: none;
    border-radius: 8px;
    background-color: #6977AA;
    color:#f1f1f1;
    font-size: 16px;
 }

 .last-text{
 margin:10px 120px 0px;
 color:#6977AA;
 }

 .last-text button{
    margin:0px 50px;
  border-style: none;
  text-decoration: underline;
  color:#BB882B;
 }

.dark{
    padding: 12px;
    margin:6px 0px 6px 850px;
    font-size:14px;
background-color:#232323;
color:#f1f1f1;
  border:none; 
  border-radius:8px;
}